---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import ContactSection from '../components/ContactSection.astro';
import Footer from '../components/Footer.astro';
---

<Layout
  title="Contact Elegant Lashes by Katie | Book Orange County Lash Extensions"
  description="Contact us to book your lash extension appointment in Orange County. Call/text 657-334-9919 or book online. Serving Irvine, Tustin, Santa Ana & Costa Mesa. Open 7 days a week."
  keywords="contact lash salon Orange County, book lash extensions OC, lash appointment Irvine, lash booking Tustin, schedule lash extensions Santa Ana Costa Mesa"
>
  <Navigation />

  <main class="pt-20">
    <ContactSection />
  </main>

  <Footer />
</Layout>
